<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="question">
      <h2 data-cy="questionDetailsHeading"><span jhiTranslate="metalHealthApp.question.detail.title">Question</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ question.id }}</span>
        </dd>
        <dt><span jhiTranslate="metalHealthApp.question.title">Title</span></dt>
        <dd>
          <span>{{ question.title }}</span>
        </dd>
        <dt><span jhiTranslate="metalHealthApp.question.text">Text</span></dt>
        <dd>
          <span>{{ question.text }}</span>
        </dd>
        <dt><span jhiTranslate="metalHealthApp.question.correctAnswer">Correct Answer</span></dt>
        <dd>
          <span>{{ question.correctAnswer }}</span>
        </dd>
        <dt><span jhiTranslate="metalHealthApp.question.correctAnswerFeedback">Correct Answer Feedback</span></dt>
        <dd>
          <span>{{ question.correctAnswerFeedback }}</span>
        </dd>
        <dt><span jhiTranslate="metalHealthApp.question.wrongAnswerFeedback">Wrong Answer Feedback</span></dt>
        <dd>
          <span>{{ question.wrongAnswerFeedback }}</span>
        </dd>
        <dt><span jhiTranslate="metalHealthApp.question.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ question.createdDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/question', question.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
