<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-question-heading" data-cy="QuestionCreateUpdateHeading" jhiTranslate="metalHealthApp.question.home.createOrEditLabel">
        Create or edit a Question
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="metalHealthApp.question.text" for="field_text">Text</label>
          <input type="text" class="form-control" name="text" id="field_text" data-cy="text" formControlName="text" />
          <div *ngIf="editForm.get('text')!.invalid && (editForm.get('text')!.dirty || editForm.get('text')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('text')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="metalHealthApp.question.correctAnswer" for="field_correctAnswer">Correct Answer</label>
          <input
            type="checkbox"
            class="form-check"
            name="correctAnswer"
            id="field_correctAnswer"
            data-cy="correctAnswer"
            formControlName="correctAnswer"
          />
          <div
            *ngIf="
              editForm.get('correctAnswer')!.invalid && (editForm.get('correctAnswer')!.dirty || editForm.get('correctAnswer')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('correctAnswer')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="metalHealthApp.question.correctAnswerFeedback" for="field_correctAnswerFeedback"
            >Correct Answer Feedback</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="correctAnswerFeedback"
            id="field_correctAnswerFeedback"
            data-cy="correctAnswerFeedback"
            formControlName="correctAnswerFeedback"
          />
          <div
            *ngIf="
              editForm.get('correctAnswerFeedback')!.invalid &&
              (editForm.get('correctAnswerFeedback')!.dirty || editForm.get('correctAnswerFeedback')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('correctAnswerFeedback')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="metalHealthApp.question.wrongAnswerFeedback" for="field_wrongAnswerFeedback"
            >Wrong Answer Feedback</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="wrongAnswerFeedback"
            id="field_wrongAnswerFeedback"
            data-cy="wrongAnswerFeedback"
            formControlName="wrongAnswerFeedback"
          />
          <div
            *ngIf="
              editForm.get('wrongAnswerFeedback')!.invalid &&
              (editForm.get('wrongAnswerFeedback')!.dirty || editForm.get('wrongAnswerFeedback')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('wrongAnswerFeedback')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="metalHealthApp.question.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="metalHealthApp.question.scenario" for="field_scenario">Scenario</label>
          <select class="form-control" id="field_scenario" data-cy="scenario" name="scenario" formControlName="scenario">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="scenarioOption.id === editForm.get('scenario')!.value?.id ? editForm.get('scenario')!.value : scenarioOption"
              *ngFor="let scenarioOption of scenariosSharedCollection; trackBy: trackScenarioById"
            >
              {{ scenarioOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
