<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="scenario">
      <h2 data-cy="scenarioDetailsHeading"><span jhiTranslate="jhipsterApp.scenario.detail.title">Scenario</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ scenario.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.order">Order</span></dt>
        <dd>
          <span>{{ scenario.order }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.name">Name</span></dt>
        <dd>
          <span>{{ scenario.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.identifier">Identifier</span></dt>
        <dd>
          <span>{{ scenario.identifier }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.text">Text</span></dt>
        <dd>
          <span>{{ scenario.text }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.audioFileName">Audio File Name</span></dt>
        <dd>
          <span>{{ scenario.audioFileName }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.rntype">Rntype</span></dt>
        <dd>
          <span>{{ scenario.rntype }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.theme">Theme</span></dt>
        <dd>
          <span>{{ scenario.theme }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.cathegory">Cathegory</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterApp.Category.' + scenario.cathegory }}">{{ scenario.cathegory }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.subcat">Subcat</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterApp.Subcategory.' + scenario.subcat }}">{{ scenario.subcat }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.scenarioNumber">Scenario Number</span></dt>
        <dd>
          <span>{{ scenario.scenarioNumber }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.trialType">Trial Type</span></dt>
        <dd>
          <span>{{ scenario.trialType }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.repeatable">Repeatable</span></dt>
        <dd>
          <span>{{ scenario.repeatable }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.positivity">Positivity</span></dt>
        <dd>
          <span>{{ scenario.positivity }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.vividness">Vividness</span></dt>
        <dd>
          <span>{{ scenario.vividness }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ scenario.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.scenario.session">Session</span></dt>
        <dd>
          <div *ngIf="scenario.session">
            <a [routerLink]="['/session', scenario.session?.id, 'view']">{{ scenario.session?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/scenario', scenario.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
