<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="questionUserInput">
      <h2 data-cy="questionUserInputDetailsHeading">
        <span jhiTranslate="jhipsterApp.questionUserInput.detail.title">Question User Input</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ questionUserInput.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.questionUserInput.userId">User Id</span></dt>
        <dd>
          <span>{{ questionUserInput.userId }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.questionUserInput.response">Response</span></dt>
        <dd>
          <span>{{ questionUserInput.response }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.questionUserInput.scenario">Scenario</span></dt>
        <dd>
          <div *ngIf="questionUserInput.scenario">
            <a [routerLink]="['/scenario', questionUserInput.scenario?.id, 'view']">{{ questionUserInput.scenario?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/question-user-input', questionUserInput.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
