<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-question-user-input-heading"
        data-cy="QuestionUserInputCreateUpdateHeading"
        jhiTranslate="jhipsterApp.questionUserInput.home.createOrEditLabel"
      >
        Create or edit a Question User Input
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.questionUserInput.userId" for="field_userId">User Id</label>
          <input type="text" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.questionUserInput.response" for="field_response">Response</label>
          <input type="text" class="form-control" name="response" id="field_response" data-cy="response" formControlName="response" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.questionUserInput.scenario" for="field_scenario">Scenario</label>
          <select class="form-control" id="field_scenario" data-cy="scenario" name="scenario" formControlName="scenario">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="scenarioOption.id === editForm.get('scenario')!.value?.id ? editForm.get('scenario')!.value : scenarioOption"
              *ngFor="let scenarioOption of scenariosSharedCollection; trackBy: trackScenarioById"
            >
              {{ scenarioOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
