<div>
  <h2 id="page-heading" data-cy="SubCategoryHeading">
    <span jhiTranslate="metalHealthApp.subCategory.home.title">Sub Categories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="metalHealthApp.subCategory.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sub-category"
        [routerLink]="['/sub-category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="metalHealthApp.subCategory.home.createLabel"> Create a new Sub Category </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="subCategories?.length === 0">
    <span jhiTranslate="metalHealthApp.subCategory.home.notFound">No subCategories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="subCategories && subCategories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="metalHealthApp.subCategory.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let subCategory of subCategories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sub-category', subCategory.id, 'view']">{{ subCategory.id }}</a>
          </td>
          <td>{{ subCategory.name }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sub-category', subCategory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sub-category', subCategory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(subCategory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
